<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>236219960300-lnttpmp5irn17i6e7htvdmqmbokas7dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236219960300-lnttpmp5irn17i6e7htvdmqmbokas7dt</string>
	<key>GCM_SENDER_ID</key>
	<string>236219960300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.simyo.GoodbyeJeroen</string>
	<key>PROJECT_ID</key>
	<string>goodbye-jeroen</string>
	<key>STORAGE_BUCKET</key>
	<string>goodbye-jeroen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:236219960300:ios:888d8983bc1915bc</string>
	<key>DATABASE_URL</key>
	<string>https://goodbye-jeroen.firebaseio.com</string>
</dict>
</plist>